$primaryColor: black;

body {
  
  background: $primaryColor;
}

p {
  color: $primaryColor;
}

div{
	color:blue;
		h1{
			color:red;
			background: $primaryColor;

		}
		h2{ text-decoration: underline;
			color:$primaryColor;}

}

h4{
	color:red;
	float:left;
		span{
			background: yellow;
		}

}

header{
	font-family: arial;
	color: blue;
	float:right;

	h1{font-size: 1850px;}
	h2{display: none;}

	h4{border-radius:20px; }
}


