<!DOCTYPE html>
<html data-ng-app="">
<head></head>
<body>
<INPUT type="text" data-ng-model="m_name" placeholder="Enter your name" /> {{m_name}}
<h3> looping with ng-repeat and using filters</h3>
<ul data-ng-init="people=[ 
							{name:'Akhil', city:'Pune'}, 
							{name:'Gyan', city:'Delhi'}, 
							{name:'Vijay', city:'Mumbai'}, 
							{name:'Golu', city:'Gudgaon'}
							]"  >
<li data-ng-repeat="var in people | filter: m_name | orderBy: 'name'" >
{{$index + 1}} {{var.name}} {{ var.city}}  </li>
</ul>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"> </script>
</body>
</html>

